.footer {
  display: flex;
  align-items: center;
  text-align: center;

  & * {
    flex: 1;
  }

  .social-medias {
    font-size: 1.6em;

    * + * {
      margin-left: 2em;
    }
  }

  &__logo {
    @extend .social-medias;
  }

  &__copyrights {
    text-align: right;

    .copyrights__brand {
      font-size: 0.9em;
    }

    .copyrights__details {
      margin-top: -0.5em;
      font-size: 0.8em;
    }
  }
}
