.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3em;

  &__logo {
    border-top: 3px solid $text-color;

    .logo--title {
      text-align: center;
      font-size: 2.2em;
      line-height: 0.3;
    }
  }

  &__nav {
    flex-grow: 2;
    margin-left: 4em;

    .link {
      display: inline-block;
      margin-left: 1.5em;

      &__anchor {
        color: $text-color;
        font-size: 1.3em;
        font-weight: 600;

        &:hover {
          color: lighten($text-color, 30%);
        }
      }
    }
  }
}
