@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');

html {
  font-size: $default-font-size;
  box-sizing: border-box;
  font-family: $default-font-family;
  border: 18px solid $primary-color;
  padding: 2em;
  min-height: 100vh;
}

h1,
h2 {
  font-size: $medium-font-size;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
