/* --- Colors --- */
$yellow: rgb(255, 233, 67);
$black: rgb(0, 0, 0);

$primary: $yellow;
$dark: $black;

/* --- Fonts --- */
$default-font-size: 15px;
$small-font-size: 12px;
$medium-font-size: 18px;
